{
  "CodeIndex": {
    "Projects": [
      {
        "Id": "myproject",
        "Root": "/path/to/MyProject"
      },
      {
        "Id": "otherproject",
        "Root": "/path/to/OtherProject"
      }
    ]
  }
}
